.players-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: azure;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.playercards {
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px 4px 4px rgb(138, 135, 135);
  border-radius: 14px;
}

h1 {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playercards div {
  max-width: 150px;
  margin: 7px;
}
div .delete-player {
  margin-right: 20px;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
