.playerform {
  max-width: 400px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: azure;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.playerform form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.playerform input {
  margin-left: 5px;
  background-color: rgb(184, 201, 201);
  border-radius: 5px;
}
.playerform label {
  margin-left: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.s_button {
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.s_button:hover {
  background-color: rgb(207, 104, 24);
}
